i{
    font-size: 2em;
    color: $black2;
    transition: color .25s linear, text-shadow .25s linear;
    &:hover{
        cursor: pointer;
    }
    &.hidden{
        display: none;
    }
    &.activated{
        @include glow;
        transition: color .25s linear, text-shadow .25s linear;
    }
}
#alarm-container{
    overflow: hidden;
    background: $gradient;
    max-height: 125px;
    max-width: 100%;
    padding-bottom: 10px;
    transform-origin: top;
    margin: 15px 0;
    outline: none;
    transition: max-height .1s linear;
    &.hidden{
        max-height: 0;
        padding-bottom: 0;
    }
    #alarm-form{
        display: flex;
        flex-direction: row;
        align-content: center;
        align-items: center;
        justify-content: center;
        max-height: inherit;
        padding: 10px;
        color: $black1;
        font-size: 1.4em;
        .alarm-adjust{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 0 5px;
            .inc,.dec{
                cursor: pointer;
                outline: none;
                font-size: 1em;
                color: $black1;
                border: none;
                background: transparent;
                transition: color .25s linear;
                &:hover{
                    @include glow;
                    transition: color .25s linear;
                }
            }
            .num-display{
                max-height: 25px;
                line-height: 25px;
                color: $black1;
                font-size: 1.2em;
            }
        }
    }
    button{
        cursor: pointer;
        outline: none;
        padding: 5px;
        font-size: 1.2em;
        color: $black1;
        border: 1px solid $black1;
        background: transparent;
        transition: color .25s linear, box-shadow .25s linear, border .25s linear;
        &:hover{
            @include glow;
            box-shadow: 0 0 3px white inset, 0 0 3px white;
            border: 1px solid $white;
            transition: color .25s linear, box-shadow .25s linear, border .25s linear;
        }
    }
}