
#clock-container{
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 15px auto 0 auto;
    width: 50%;
}
#clock-table{
    display: grid;
    grid-template-areas: 
    "row"
    "row"
    "row"
    "row"
    "row"
    "row"
    "row"
    "row"
    "row"
    "row";
    grid-template-columns:  auto;
    grid-template-rows: repeat(10,55px);
}
#clock-row{
    grid-area: row;
}
.clock-cell{
    color: $black2;
    font-size: 2.5em;
    text-align: center;
    text-shadow: none;
    transition: color .25s linear, text-shadow .25s linear;
    width: 55px;
}
//Letter color when activated
.on{
    @include glow;
    transition: color .25s linear, text-shadow .25s linear;
}

@media screen and (max-width: 370px){
    .clock-cell{
        font-size: 10vmin;
    }
}