//Cool
$violet: #9966ff;
$indigo: #6666ff;
$blue: #6699ff;
$green: #66ff99;

//Warm
$yellow: #ffff66;
$orange: #ffcc66;
$darkOrange: #ff9966;
$red: #ff6666;

//Pastels
$pas_blue: #abcdef;
$pas_darkGreen: #bedcaf;
$pas_green: #cafedb;
$pas_purple: #decafb;

//Dark
$dark1: #1a2a3a;
$dark2: #2a3a4a;
$dark3: #3a4a5a;
$dark4: #4a5a6a;

//Greys
$grey1: #aaaaaa;
$grey2: #bbbbbb;
$grey3: #cccccc;
$grey4: #dddddd;