@import './partials/colors';
@import './partials/clock';
@import './partials/alarm';

* {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

html,body{
    height: 100%;
    background: $black2;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
#container{
    min-height: calc(100vh - 100px);
    margin: auto;
    padding: 25px 0;
    text-align: center;
    background: $black1;
    border-radius: 0 0 50px 50px;
    h1{
        max-height: 45px;
        line-height: 45px;
        margin: 0;
        font-style: italic;
        span{
            vertical-align: center;
            font-size: 1.4em;
        }
        span:nth-child(1){
            color: $magenta;
        }
        span:nth-child(2){
            @include glow;
            font-size: 1.8em;
        }
        span:nth-child(3){
            color: $cyan;
        }
    }
    noscript{
        width: 75%;
        font-size: 2em;
        color: $white;
    }
}
footer{
    height: 50px;
    background: $black2;
    text-align: center;
    a{
        font-weight: normal;
        line-height: 50px;
        font-size: .8em;
        text-decoration: none;
        color: $black1;
        &:hover{
            @include glow;
            transition: color .25s linear, text-shadow .25s linear;
        }
    }
}

@media screen and (max-width: 370px){
    h1{
        font-size: 8vmin;
    }
}